extends layout

include _includes/sharedHTMLfunctions

block content
    .row.page-header
        .col-lg-12
            h1=pageHeader.title
    .row
        .col-xs-12.col-md-9
            // 嵌套布局, 每行仍然是12列
            .row
                .col-xs-12.col-sm-6
                    p.rating
                        +outputRating(location.rating)
                    p= location.address
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Opening hours
                        .panel-body
                            each time in location.openingTimes
                                p
                                    | #{time.days}&nbsp;:&nbsp;
                                    - if (time.closed)
                                        | closed
                                    - else
                                        | #{time.opening} - #{time.closing}
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Facilities
                        .panel-body
                            // 需要显示在一行的要附在行内标签上
                            each facility in location.facilities
                                span.label.label-warning
                                    span.glyphicon.glyphicon-ok
                                    | &nbsp;#{facility}
                                | &nbsp;
                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary
                        .panel-heading
                            h2.panel-title Location map
                        .panel-body
                            img.img-responsive.img-rounded(src='http://api.map.baidu.com/staticimage/v2?ak=G8asYyg5QMAxgCMw478jFRzIdkhDafrw&mcode=666666&center=#{location.coords.lat},#{location.coords.lng}&width=400&height=350&zoom=11&markers=#{location.coords.lat},#{location.coords.lng}')
            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            a.btn.btn-default.pull-right(href='/location/review/new') Add review
                            h2.panel-title Customer reviews
                        .panel-body.review-container
                            each review in location.reviews
                                .row
                                    // 添加这么多嵌套的div层主要是为了应用样式方便
                                    .review
                                        .well.well-sm.review-header
                                            span.rating
                                                +outputRating(review.rating)
                                            span.reviewAuthor= review.author
                                            small.reviewTimestamp= review.timestamp
                                        .col-xs-12
                                            // 这里将用户的换行替换成html的换行标签, 能够在显示中还原用户的输入
                                            p!= (review.reviewText).replace('/\n/g', '<br />')
        .col-xs-12.col-md-3
            p.lead #{location.name} #{sidebar.context}
            p #{sidebar.callToAction}
